body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgb(142, 142, 212), rgb(123, 172, 201), rgb(226, 120, 217));
  font-family: "Goudy Old Style", serif;
  height: 150vh;
}

.AppWrap {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 1100px;
}

.EditorWrap {
  margin-left: 10%;
  min-width: 400px;
  align-self: flex-start;
}

.EditorWrap .toolbar {
  /* background: #4aadd4; */
  background-image: linear-gradient(rgb(142, 142, 212), rgb(226, 120, 217));
  width: 80%;
  font-family: "Lora", serif;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px 15px;
  border-style: solid;
  border-width: 1.5px;
  border-bottom-width: 0px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 15px 8px 10px 5px rgba(0, 0, 0, 0.3);
}

.EditorWrap #editor {
  height: 60vh;
  width: 80%;
  min-height: 500px;
  min-width: 300px;
  padding: 10px 15px;
  border-style: solid;
  border-color: black;
  border-width: 1.5px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 15px 15px 10px 5px rgba(0, 0, 0, 0.3);
}

input:focus,
textarea {
  outline: none !important;
}

.PreviewerWrap {
  min-width: 700px;
  padding-left: 50px;
}

.PreviewerWrap .toolbar {
  background: #3dadf2;
  width: 80%;

  font-family: "Lora", serif;
  font-size: 1.2em;
  font-weight: 600;
  padding: 7px 15px;
  border-style: solid;
  border-width: 1.5px;
  border-bottom-width: 0px;
  border-radius: 10px 10px 0px 0px;
  padding-left: 50px;
  box-shadow: 15px 8px 10px 5px rgba(0, 0, 0, 0.3);
}

#previewer {
  width: 80%;
  height: 75vh;
  min-height: 550px;
  background: rgb(200, 110, 241);
  overflow: auto;
  padding: 0px 15px;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 0px 0px 10px 10px;
  padding-left: 50px;
  box-shadow: 15px 15px 10px 5px rgba(0, 0, 0, 0.267);
}

.title {
  margin-top: 30px;
  text-align: center;
  font-family: "Lora", serif;
  min-width: 1100px;
}

@media screen and (max-device-width: 414px),
screen and (max-width: 414px) {
  .AppWrap {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
  }

  .EditorWrap {
    min-width: 100px;
    margin-left: 17.5vw;
    margin-top: 0px;
  }

  .EditorWrap .toolbar {
    width: 60vw;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .EditorWrap #editor {
    width: 60vw;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    min-width: 100px;
    min-height: 200px;
    height: 25vh;
  }

  .PreviewerWrap {
    margin-top: 10px;
    min-width: 100px;
  }

  .PreviewerWrap .toolbar {
    width: 80vw;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .PreviewerWrap #previewer {
    width: 80vw;
    height: 35vh;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    min-height: 300px;
  }

  .title {
    margin-top: 10px;
    min-width: 100px;
  }
}

.header {
  position: static;
  width: 100%;
  height: 50px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(87, 62, 70, 0.637);
  transition: 0.3s;
  color: white;
  padding: 20px;
  font-size: medium;
  font-weight: 200;

}

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
    position: static;
  }

  header {
    padding-top: 40px;

  }
}

.footer-distributed {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: rgba(87, 62, 70, 0.637);
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: lightcyan;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3F71EA;
}

.footer-links a:hover {
  color: grey;
}

@media (max-width: 880px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

.footer-icons {
  display: flex;
}

.footer-icons>a {
  margin-right: .5rem;
  background: #0059ff;
  padding: .3rem .5rem;
  cursor: pointer;
  border-radius: 3px;
}

.footer-icons>a:hover {
  opacity: .9;
}

.footer-icons>a img {
  width: 1.5rem;
}
